@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  
  /* Dark Mode Colors */
  --primary-color: rgba(12, 12, 12, var(--gradient-opacity)); /* Deep Midnight Black */
  --secondary-color: rgba(34, 34, 34, var(--gradient-opacity)); /* Dark Charcoal Gray */
  --accent-color: linear-gradient(90deg, rgba(18, 214, 223, var(--gradient-opacity)), rgba(247, 15, 255, var(--gradient-opacity))); /* Cyan-Teal to Pinkish Purple Gradient */
  
  /* Light Mode Colors */
  @media (prefers-color-scheme: light) {
    --primary-color: rgba(240, 240, 240, var(--gradient-opacity)); /* Soft Light Gray */
    --secondary-color: rgba(200, 200, 200, var(--gradient-opacity)); /* Muted Gray */
    --accent-color: linear-gradient(90deg, rgba(18, 214, 223, var(--gradient-opacity)), rgba(247, 15, 255, var(--gradient-opacity))); /* Cyan-Teal to Pinkish Purple Gradient */
  }
}